html {
  font-size: 18px;
}
body,
.container {
  height: 100vh;
  background-color: rgb(31, 31, 131);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 5rem;
  position: relative;
  transform: translateY(-150px);
}
#gameboard {
  border: 1px solid black;
  width: 615px;
  height: 615px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  background-color: rgb(187, 139, 233);
  display: none;
  border: 1px solid rgb(187, 139, 233);
}
.gameboard-row {
  display: flex;
  gap: 5px;
}
.gameboard-field {
  width: 200px;
  height: 200px;
  background-color: rgb(31, 31, 131);
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameboard-field p {
  font-size: 5rem;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.player-name-wrapper {
  display: flex;
  gap: 25px;
}
.player-name-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}
button.start-game {
  width: 150px;
  height: 50px;
}

#player-text {
  display: none;
}
#restart-btn {
  display: none;
}
#change-players-names {
  display: none;
}
