html {
  font-size: 18px;
}
body,
.container {
  height: 100vh;
  background-color: #45a9c5;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 7rem;
  position: relative;
  transform: translateY(-150px);
  color: #ffffff;
}
#gameboard {
  border: 1px solid black;
  width: 615px;
  height: 615px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  background-color: rgb(187, 139, 233);
  display: none;
  border: 1px solid rgb(187, 139, 233);
}
.gameboard-row {
  display: flex;
  gap: 5px;
}
.gameboard-field {
  width: 200px;
  height: 200px;
  background-color: rgb(31, 31, 131);
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameboard-field p {
  font-size: 5rem;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.player-name-wrapper {
  display: flex;
  gap: 50px;
}
.player-name-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}
.player-name-container input {
  height: 35px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 23px -14px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 4px 23px -14px rgba(66, 68, 90, 1);
  box-shadow: 0px 4px 23px -14px rgba(66, 68, 90, 1);
  color: #085381;
}
.player-name-container input:focus {
  outline: 2px solid #1081c7;
}
label {
  color: #ffffff;
}
button.start-game {
  width: 240px;
  height: 80px;
  background-color: #1081c7;
  border-radius: 50px;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  transform: translateY(100px);
  opacity: 0.9;
  transition: opacity 0.2s;
  -webkit-box-shadow: 0px 8px 23px -9px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 8px 23px -9px rgba(66, 68, 90, 1);
  box-shadow: 0px 8px 23px -9px rgba(66, 68, 90, 1);
}
button.start-game:hover {
  cursor: pointer;
  opacity: 1;
}
button {
  color: #ffffff;
}
#player-text {
  display: none;
}
#restart-btn {
  display: none;
}
#change-players-names {
  display: none;
}
